<h2>All Dishes</h2>

<% @dishes.each do |dish| %>

  <p>
    <%= dish.title %> <%= link_to 'edit', edit_dish_path(dish) %>

    <form action="/dishes/<%= dish.id %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">    
      <input type="hidden" name="_method" value="delete">
      <button>Delete</button>
    </form>
  </p>

<% end %>