<h1>hello world</h1>

<a href="/posts/new">new post</a>

<form id="new-post-form" action="/posts" method="post">
  <p><input type="text" id="title"></p>
  <p><textarea name="" id="" cols="30" rows="3"></textarea></p>
  <button class="btn btn-primary dt-btn">new post</button>
</form>

<% @posts.each do |post| %>
  <p><%= post.title %></p>
<% end %>

<script>

  doSomething();

  var createPost = function(event) {
    event.preventDefault();
    console.log('creating post....');

    $.ajax({
      url: '/api/posts',
      method: 'post',
      data: { title: $('#title').val() } // arguments
    }).done(function(returnedData) {
      
      $('body').append('<p>' + returnedData.title +'</p>')

    }).fail(function() {
      
    });

  }; // end createPost

  $('#new-post-form').on('submit', createPost);  

</script>


