<form action="/session" method="post">
  
  <p>
    <label for="">email</label>
    <input type="text" name="email">
  </p>

  <p>
    <label for="">password</label>
    <input type="password" name="password">
  </p>

  <button>login</button>

</form>