* { box-sizing: border-box; padding: 0; margin: 0;}
body {
  background-color: tomato;
}
#container {
  margin: 0 auto;
  width: 90%;
}

.profile-item {
  background-color: gray;
  margin-bottom: 1em;
}
.content {
  height: 200px;
  margin-left: 300px;
}
.content > img {
  position: absolute;
  margin-left: -300px;
}