<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>templates</title>
</head>
<body>
  
  <script id="profile-item-tpl" type="text/x-underscore-template">
    <div><%= name %></div>
  </script>

  <script id="profile-detail-tpl" type="text/x-underscore-template">
    <div>
      <h1><%= name%></h1>  
      <p><%= slogan %></p>
    </div>
  </script>


  <script src="jquery.js"></script>
  <script src="underscore.js"></script>
  <script src="app.js"></script>
</body>
</html>