<h2>All Dishes</h2>

<% @dishes.each do |dish| %>

  <p>
    <%= link_to dish.title, dish_path(dish) %> <br>
    <%= link_to 'edit', edit_dish_path(dish) %>

    <%= form_for dish, :method => :delete do |f| %>
      <button>Delete</button>
    <% end %>
  </p>

<% end %>

<%= link_to 'dishes', '/dishes' %>